h1{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 30px;
}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.imagen{
    width: 150px;
    height: 250px;
}

.estrenos{
    margin-bottom: 114px;
}