<h1>ESTRENOS</h1>
<div class="estrenos row">
    <div class="col-4 contenedor">
        <img class="imagen" src="..\..\assets\img\cruceCaminos.png" alt="">
        <p>cruce de caminos</p>
    </div>
    <div class="col-4 contenedor">
        <img class="imagen" src="..\..\assets\img\harryPotter.png" alt="">
        <p>harry potter y la piedra filosofal</p>
    </div>
    <div class="col-4 contenedor">
        <img class="imagen" src="..\..\assets\img\reyesCaidos.png" alt="">
        <p>reyes caidos</p>
    </div>
</div>